// style variables
$font-primary: "Crete Round", serif;
$font-secondary: "Work Sans", sans-serif;
$h1: 64px;
$h1-lg: 52px;
$h1-md: 42px;
$h2: 38px;
$h2-md: 36px;
$h3: 30px;
$h3-md: 28px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$color-primary: #B48EAD;
$body-background: #ECEFF4;
$body-background-dark: #2E3440;
$white: #ffffff;
$black: #000000;
$dark: #152035;
$darken: #041722;
$gray: #505050;
$light: #d6d6d6;
